<h1>Matt's Guestbook</h1>

<p>Welcome to Matt's online guestbook.  Please leave your name, a brief message, and look at those who have come before you.  Enjoy!</p>  

	<div>
	<%= form_for :message do |f| %>
	  <p>
	    <%= f.label "Visitor" %><br>
	    <%= f.text_field :visitor %>
	  </p>
	 
	  <p>
	    <%= f.label "Message" %><br>
	    <%= f.text_area :body %>
	  </p>
	 
	  <p>
	    <%= f.submit "Leave a Messsage"%>
	  </p>
	<% end %>
	</div>

<h1>Previous Messages</h1>
 
  	<div>
  	  <% @messages.each do |message| %>
  	    
  	    <p><strong><%= message.visitor %></strong> signed the guestbook <%= time_ago_in_words(message.created_at) %> ago:</p>
  	    <p>"<%= message.body %>"</p>
  	    <hr />
  	    
  	  <% end %>
  	</div>